body {
    font-family: 'Open Sans', sans-serif;
}

/* hero section css start here */
.container{
    max-width: 1170px;
    width: 100%;
    margin:auto;
}

.home{
    height: 100vh;
    /* background-image: url("images/bg.jpg"); */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    padding:50px 15px;
    position: relative;
}
.home::before{
    content: '';
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: #051744;
    z-index: 1;
}

.home .home-text{
    /* text-align: center; */
    position: relative;
    z-index: 2;
}

.home .home-text h1{
   color:#ffffff;
   font-size: 50px;
   color:#ffffff;
   line-height: 56px;
   font-weight: 700;
   margin:0 0 20px;
}
.home .home-text p{
   margin:0;
   overflow: hidden;
}
.home .home-text p span{
   font-size: 40px;
   color:#ff2c45;
   font-weight: 700;
   display: inline-block;
   line-height: 46px;
   display: none;
}

.home .home-text p span.text-in{
   display: block;
   animation: textIn .5s ease;
}
.home .home-text p span.text-out{
   animation: textOut .5s ease;
}
@keyframes textIn{
   0%{
       transform: translateY(100%);
   }
   100%{
       transform: translateY(0%);
   }
}
@keyframes textOut{
   0%{
       transform: translateY(0%);
   }
   100%{
       transform: translateY(-100%);

   }
}


/* hero section css start here */



#menuDrawer {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

#menuDrawer.active {
    transform: translateX(0);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content>div {
    flex: 1;
    text-align: center;
}

.header-logo {
    flex: 2;
    text-align: left;

}

.header-logo img {
    /* max-height: 60px; */
    max-height: 100px;
    
}

/* 
dropdown css start here */

#menuDrawer {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}
#menuDrawer.active {
    transform: translateX(0);
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #051744;
    
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px #FFA500; */
    box-shadow: 0px 8px 16px 0px #1d4ed8;
    z-index: 999;
}
.dropdown-menu a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-menu a:hover {
    /* background-color: #FFA500; */
    background-color: #1d4ed8;
}



/* dropdown css end here */


